<html>
<head>
  <title>Progress Reports</title>
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/index.js"></script>
</head>
</style>
<body>
	<h1> Your Goal </h1>
	<p id="goalA">  
	</p> 
	<h1> Their Goal </h1>
	<p id="goalB">
	</p>
<form action="go">
	<button id="go" type="submit">Go</button>
</form>

</body>
</html>
