<html>
<head>
  <title>Progress Reports</title>
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/index.js"></script>
</head>
</style>
<body>
<h1> Welcome to Progress Reporting </h1>
<p> Create/enter a session: <input id="sessionName"><br/>
	Create/enter a username: <input id="username"><br/>
	<button id="indexSubmitButton" type="submit">Go</button>
	
</p> 
</body>
</html>
