<html>
<head>
  <title>Progress Reports</title>
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/index.js"></script>
</head>
</style>
<body>
<h1> Goal? </h1>
<form action="confirm">
<p> What's your goal? <br/>
 <textarea rows="4" cols="50" id="goalDescription"></textarea><br/>
How many minutes: <input id="time"><br/>
<button id="goalSubmitButton" type="submit">Go</button>
</p> 
</form>
</body>
</html>
