/*@font-face {
    font-family: "xkcd";
    src: url('/fonts/Humor-Sans-1.0.ttf');
}*/

body {
	background-color: mintcream;
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

#chatbox {
    height: 150;
    background: white;
    overflow: auto; /* allows for a scrolling chat box*/
    border: 1px solid;
}

#chatbox-content{
	margin-left: 5px;
}